.App {
  text-align: center;
   display: block;
    margin: 8px;
  /*margin:auto;*/
}



.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  color: green;
}

.container {
  display:flex;
  margin:auto;
}

.list-1 {
 border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 10px;
    display:block;
}

.list-2 {
 border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 10px;
    display:block;
}

.list-3 {
 border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 10px;
    display:block;
}

.title2 {
  font-size: 14px;
}

#usernames{
  list-style: none;
}
#accountIds{
  list-style: none;
   border-top: 1px;
}

#appTitles{
  list-style: none;
}